.App {
  margin-left: 20px;
}
body {
  background-image: url('http://www.baltana.com/files/wallpapers-14/Earth-Background-Wallpaper-36766.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
input {
  display: block;
  margin: 5px 0 5px;
}
.App-logo {
  height: 40vmin;
}
iframe {
  float: right;
}
h2 {
  color: white;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
h4 {
  color: white;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 0%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.element {
  animation: 
    pulse 3s ease infinite alternate, 
    nudge 5s linear infinite alternate;
}
img {
  float: left;
}

h1 {
  color : white;
}
h3 {
  text-align: center;
  color: white;
  font-size: 50px;
  font-style: italic;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
